tmp_prompt/
tmp_pickle/
bbox_drawings/
tmp_marktex*/
boxpositions_*.txt

# source_autocorrected.tex
# source_inlined.tex
source.pdf
source_marked.tex
source_marked.pdf
source_inlined.pdf
diff_*.pdf

source_autocorrected.pdf

*.synctex.gz
*_nocomments.tex
*_nocomments.pdf
*_reflowed*.tex
*_reflowed*.pdf
*.annin

*.annin

extracted_edit_txts/

TeX_comment_corr_out/

**/results/realworld_results_*.csv
